
<div class="row">
  <div class="small-12 small-centered large-6 large-centered columns">
    <p>
      In positive psychology, Flow, also known as Zone, is the
      mental state of operation in which a person performing an
      activity is fully immersed in a feeling of energized focus,
      full involvement, and enjoyment in the process of the activity. - Wikipedia
    </p>
  </div>
</div>

<div class="search">
  <form action="/list" method="get">

    <div class="row">

      <div class="small-6 small-centered large-6 large-centered columns">



        <label>What music helps you GSD (Get Shit Done)?
          <select name="option">
            <option value="chill house">Chill House</option>
            <option value="chill hip hop">Rap Flow</option>
            <!-- <option value="hard rock">Hard Rock</option> -->
            <option value="smooth jazz">Jazz</option>
            <option value="classical">Classical</option>
          </select>
        </label>


        <input type="text" placeholder="How many minutes do you want to code for?" name="query" id="query" />




        <input type="submit" class="button postfix alert" value="Search" />
      </div>

      <div class="small-3 columns">
      </div>

    </div>
  </form>
</div>
