
<div class="row">
  <div class="small-12 small-centered large-6 large-centered columns">
    <h4>
      In positive psychology, Flow, also known as Zone, is the
      mental state of operation in which a person performing an
      activity is fully immersed in a feeling of energized focus,
      full involvement, and enjoyment in the process of the activity. - Wikipedia
    </h4>
  </div>
</div>

<div class="search">
  <form action="/list" method="get">

    <div class="row">

      <div class="small-12 small-centered large-6 large-centered columns">
        <input type="text" placeholder="how many minutes do you want to code for?" name="query" id="query" />
        <input type="submit" class="button postfix alert" value="Search" />
      </div>

      <div class="small-3 columns">
      </div>

    </div>
  </form>
</div>
