<div class="row">
  <div class="small-12 small-centered large-6 large-centered columns">
    <a href='#' onclick='location.reload(true); return false;'>get a new flow</a>
    <iframe width="100%" align = "centered" scrolling="no" frameborder="no"
    src="https://w.soundcloud.com/player/?url=<%= @tracks %>&amp;auto_play=true&amp;
    hide_related=false&amp;show_comments=false&amp;show_user=true&amp;
    show_reposts=false&amp;visual=false"></iframe>
  </div>
</div>
      <div class="row">
        <div class="small-3 small-centered large-6 large-centered columns">
          <a href="/">Go back</a>
        </div>

      </div>
